python-telegram-bot==21.7
aiohttp>=3.8.5,<4.0
google-generativeai==0.8.3
python-dotenv==1.0.1
Pillow==11.0.0
telegramify-markdown==0.1.17
asyncpg==0.29.0
sqlalchemy>=1.4.0,<2.0
psycopg2-binary>=2.9.0,<3.0
alembic>=1.7.0,<2.0
gunicorn==21.2.0
pymongo==4.10.1,<5.0
dnspython==2.7.0,<3.0
ffmpeg-python==0.2.0,<1.0
pdfminer.six==20221105  # Use either exact version or range, not both
fastapi>=0.104.1,<0.105
uvicorn>=0.24.0,<0.25
pydub>=0.25.1,<0.26
SpeechRecognition>=3.10.0,<4.0
python-multipart>=0.0.6,<1.0
aiofiles>=23.2.1,<24.0
requests>=2.32.3,<3.0
aiodns==3.0.0,<4.0
flask>=2.1.0,<3.0
async-timeout>=4.0.3,<5.0
PyPDF2==3.0.1
# pip install --upgrade PyPDF2:

